*
!.gitignore
!Haskell.g4
!Haskell.interp
!Haskell.tokens
!HaskellLexer.interp
!HaskellLexer.py
!HaskellLexer.tokens
!HaskellListener.py
!HaskellParser.py
!main.py
!README.md
!Exercicio1e2.hs
!HaskellVisitor.py
!CodeGenC.py